body{
    margin:0;
}
.container{
    height:100vh;
    display:grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows:1fr 4fr;
}

.title{
    display:flex;
    margin-left:10px;
}

#title{
    height:40px;
    width:40px;
}
.left-column{
    grid-area:1/1/4/2;
    background-color:lightblue;
    display:grid;
    grid-template-rows: 1fr 2fr;
    background-color:rgb(45, 151, 227);
    color:white;
    font-weight:500;
}
h1{
    gap:10px;
    text-align:center;
}

img{
    height:20px;
    width:20px;
    align-self:center;
    justify-self:center;
    color:white;
    
}




li{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3px;
    margin-right:auto;
}
.list{ 
    list-style-type:none;
    display:grid;
    grid-template-rows:repeat(1fr,6);
    align-items:left;
    gap: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:22px;
    padding-left:40px;
    
}
#one{
    display:grid;
    grid-template-rows:repeat(1fr, 6);
    
}
.topright{
    grid-template-columns:1.7fr 1fr;
    grid-area:1 / 2 / 1 / 3;
    background-color:gray;
    display:grid;
    grid-template-rows:1fr 1fr;
}
.bottomright{
    grid-row-start:2;
    grid-column-start:2;
    background-color:mediumaquamarine;
}

.container>div{
}
.item1, .item2, .item3, .item4{
    background-color:white;

}

.item1{
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;    
}

input[type="text"]{
    border-radius:10px;
    width:500px;
    background-color:rgb(231, 235, 238);
    margin:0px;
    border:none;
    height:22px;
}


.item2{
    display:flex;
    align-items:center;
    justify-content:center;
    
}

.item22{
    display:flex;
    align-items:center;
    flex-direction:row;
    font-weight:800;
    gap:70px;
    
}
img.bird{
    height:30px;
    width:30px;
}

#profile{
    height:40px;
    width:40px;
}

.item3{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding-left:100px;
    gap:20px;
    
}
.item3-2{
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-content:center;
    font-size:22px;
    font-weight:600;
    margin:0px;
}
.sub{
    font-size:14px;
}


.item4{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding-right:20px;
}
button{
    width:100px;
    height:35px;
    background-color:rgb(56, 89, 234);
    color:white;
    font-size:12px;
    border-radius:20px;
    border:none;

}
